{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "plugins": [
    "prettier-plugin-ejs",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "attributeGroups": ["^class$", "^(id|name)$", "$DEFAULT", "^aria-"]
}
